    <% resource.comments.each do |comment| %>
      <ul>
      <!-- h3 for testing purposes only -->
        <li><h3></h3>
          <%= comment.message %>
          <%= link_to 'Edit', edit_comment_path(comment.id) %>
          <%= link_to 'Delete Comment', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    <% end %>
    <% render 'form' %>
  </ul>
<% end %>
