<h1>Listing Topics:</h1>

<% @topics.each do |topic| %>
  <ul>
  <!-- h2 for testing purposes only -->
    <li><h2></h2>
      <%= link_to topic.name, topic %>
      <%= link_to 'Edit', edit_topic_path(topic) %>
      <%= link_to 'Delete Topic', topic, method: :delete, data: { confirm: "#{pluralize(topic.resources.count, 'resource')} will also be deleted. Are you sure?" } %>
    </li>
  </ul>
<% end %>

<%= link_to 'New Topic', new_topic_path %>
